:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Outfit 300";
    src: url(./font/Outfit-Light.ttf);
}

@font-face {
    font-family: "Outfit 400";
    src: url(./font/Outfit-Regular.ttf);
}
@font-face {
    font-family: "Outfit 600";
    src: url(./font/Outfit-SemiBold.ttf);
}

body {
    background-color: var(--mainBG);
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-size: 18px;
    font-family: "Outfit 300";
    color: var(--softBlue);
}

main {
    background-color: var(--cardBG);
    padding: 1.3em;
    border-radius: 3%;
    max-width: 19.4em;
    box-shadow: 0px 25px 80px #0a0a0a8c;
}

img {
    max-width: 100%;
    border-radius: 3%;
}

.avatar {
    /* Border 
    border-style:solid;
    color:var(--white);
    */
    /* box-shadow is a Better border, not pushing content */
    box-shadow: 0 0 0 1px var(--white);
    border-radius: 100%;
    width: 12%;
    object-fit: contain;
}

h1 {
    color: var(--white);
    font-family: "Outfit 600";
}

p {
    
}

.cript {
    color: var(--cyan);
    font-family: "Outfit 400";
}

.time {
    float: right;
}

hr {
    border: 1px solid var(--line);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile {
    float: center;
}

.profile-text {
    
}

footer { 
    font-size: 11px; text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}